// базовые токены
$radius-lg: 16px;
$radius-md: 12px;
$radius-sm: 8px;

$shadow-1: 0 10px 20px rgba(236, 72, 153, .10), 0 2px 8px rgba(236,72,153,.06);
$shadow-card: 0 8px 22px rgba(0,0,0,.04);

$border: rgba(236,72,153,.35);
$text-900: #111827;
$text-700: #374151;
$text-500: #6b7280;
